.vscode/launch.json
.gitignore
ajax/node_modules/
gulp/node_modules/
gulp/spa/node_modules
bootstrap/exercicios/node_modules
*/node_modules/
spa-webpack
gitignore
*/**/node_modules
/most-used-words/Legendas
Angular-Crud/backend/db.json
