body {
  background-color: #ccc;
  background-image: url(6777486e7ac73f627f41dceddc0eedd1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #fff;
  color: #000;
  font-size: 1.8em; }

