.layout{  
    display: flex;
    flex-direction: column;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #777;
}

.cabecalho a {
    background-color: crimson;
    padding: 5px 12px;
    border-radius: 5px;
}

.cabecalho h1{
    margin: 0;
    font-size: 1.4em;
}

.conteudo{
    height: 100vh;
    padding: 25px;
}