.menu a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 15px;
}

.menu a >i{
    margin-right: 5px;
}

.menu a:hover{
    background: linear-gradient(135deg, #07a7e3 20%, #32dac3 80%);
}